version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.4
    container_name: chitalishta_maps_db
    environment:
      POSTGRES_DB: chitalishta_maps
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5436:5432"
    volumes:
      - pgdata_chitalishta_maps:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata_chitalishta_maps:

